In [1]:
import pandas as pd

In [9]:
alfabattle2_prediction_session_timestamp = pd.read_csv("alfabattle2_prediction_session_timestamp.csv")
alfabattle2_prediction_session_timestamp.head()

                         client_pin            timestamp
0  f0c674b2bb4dc64be607029271d706ec  2020-08-01 00:00:53
1  90725b54ce77576883813d87749df6bd  2020-08-01 00:02:57
2  eb0f82d74c7b7bd5eafbd5b5f8cb3e2a  2020-08-01 00:03:14
3  831bf4c0ecccc55e536b8cfb9153d672  2020-08-01 00:04:44
4  3f1a5a1c492ce877af833113e59c5797  2020-08-01 00:06:40

In [15]:
alfabattle2_abattle_sample_prediction = pd.read_csv("alfabattle2_abattle_sample_prediction.csv")
alfabattle2_abattle_sample_prediction

                             client_pin          prediction
0      f0c674b2bb4dc64be607029271d706ec         credit_info
1      90725b54ce77576883813d87749df6bd         credit_info
2      eb0f82d74c7b7bd5eafbd5b5f8cb3e2a        own_transfer
3      831bf4c0ecccc55e536b8cfb9153d672           statement
4      3f1a5a1c492ce877af833113e59c5797              invest
...                                 ...                 ...
79263  4e46e206d38dcb7af41d9ced20d50ac2         main_screen
79264  5b59bf5bd1e07775b1bc95dd7151d2cd       card_recharge
79265  94bcc852dd7f806f6c733056d1b0be7b  card2card_transfer
79266  2061f779928217eea2878fd3b605fafd  card2card_transfer
79267  e2f0cede9e3bc3d6ed7c77c4e08af136     mobile_recharge

[79268 rows x 2 columns]

In [17]:
prediction = alfabattle2_prediction_session_timestamp.drop("timestamp", axis=1)
prediction["prediction"] = "main_screen"
prediction.to_csv("prediction.csv", index=False)
prediction.head()

                         client_pin   prediction
0  f0c674b2bb4dc64be607029271d706ec  main_screen
1  90725b54ce77576883813d87749df6bd  main_screen
2  eb0f82d74c7b7bd5eafbd5b5f8cb3e2a  main_screen
3  831bf4c0ecccc55e536b8cfb9153d672  main_screen
4  3f1a5a1c492ce877af833113e59c5797  main_screen